html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
  overflow: hidden;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.map {
  height: 95.5%;
  width: 100%;
}

.map-header {
  height: 4.5%;
  min-height: 45px;
  width: 100%;
  background-color: #123f5a;
  /* vertical-align:middle */
  line-height: 25px;
  /* align-items: center; */
}

#header {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  word-spacing: 3px;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  padding-right: 0px;
}

#toggleLabel {
  display: block;
  text-align: right;
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 50px;
  float: right
}

.toggle.ios .toggle-handle {
  border-radius: 50px;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  /* opacity: 0.8; */
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}

.layer-switcher {
  position: initial;
}

/* .ol-popup-content {
    color: black;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	padding: 10px;
	position: relative;
} */

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #A9A9A9;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  z-index: 80000;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tab-content {
  padding: 10px;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

#legend {
  position: absolute;
  z-index: 100000;
}

#cisa-logo {
  width: 200px;
}

#sercc-logo {
  width: 120px;
}

/* .layer-switcher.shown.layer-switcher-activation-mode-click {
  padding-right: 34px;
}

.layer-switcher.shown.layer-switcher-activation-mode-click>button {
  right: 0;
  border-left: 0;
} */

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png);
}

.ui-icon {
  width: 50px;
  height: 50px;
}

/* .ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
} */

#time-range {
  z-index: 3000;
  position: absolute;
  display: contents;
}

#time-range p {
  font-family: monospace;
  font-size: 14px;
  color: #333;
  margin: 10px 10px 10px 0px;
  /* display: inline-block; */
}


.ui-slider-horizontal {
  height: 8px !important;
  /* height: .6em; */
  background: #D7D7D7;
  border: 1px solid #BABABA;
  box-shadow: 0 1px 0 #FFF, 0 1px 0 #77777745 inset;
  clear: both;
  margin: 8px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 6px;
  font-size: .7em;
  display: block;
  /* border: 1px solid #5BA8E1; */
  border: 0px;
  box-shadow: 0 1px 0 #d3e8f7b9 inset;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: #31708f85;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #d9edf7b0), color-stop(100%, #999));
  background-image: -webkit-linear-gradient(top, #d9edf7b0, #999);
  background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
  background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
  background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}

.ui-slider .ui-slider-handle {
  border-radius: 50%;
  background: #F9FBFA;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
  background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
  background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
  background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
  background-image: linear-gradient(top, #d9edf7b0, #999);
  /* width: 22px;
  height: 22px; */
  width: 1.0em;
  height: 1.0em;
  -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
  -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
  -webkit-transition: box-shadow .3s;
  -moz-transition: box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  /* width: 22px;
  height: 22px; */
  width: 1.0em;
  height: 1.0em;
  cursor: default;
  border: none;
  cursor: pointer;
}

.ui-slider .ui-slider-handle:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
  background: #99999994;
  -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
  -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
  box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.4em !important;
  margin-left: -.6em;
}

.ui-slider a:focus {
  outline: none;
}

/* dropdown with checkbox */
.multiselect {
  width: 200px;
  display: inline-block;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  /* font-weight: bold; */
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#transparentdiv {
  position: relative;
  width: 200px; 
  height: 28px; 
  margin-right:0px;
  pointer-events: none;
}

#checkboxes {
  border: 1px #dadada solid;
  z-index: 6000;
  position: absolute;
  width: 200px;
  background-color: #eee;
  /* background-color: #0000000f; */
  font-family: monospace;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(118, 118, 118);
  border-top: none;
}

#checkboxes label{
  /* display: inline-block; */
  display: block;
  font-weight: 300;
}

#checkboxes label:hover{
  background-color: #1e90ff;
  color: white;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
}

#checkalldiv {
  font-family: monospace;
  font-weight: 300;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: rgb(118, 118, 118); */
  width: 198px;
  background-color: #eee;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: rgb(118, 118, 118);
  position: absolute;
}

#ajaxSpinnerContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.3);
  z-index: 200;
  /* height:11px;    z-index: 8000; */
}

#ajaxSpinnerImage {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin: -33px 0 0 -33px; */
  display: none;
}

/* #filterForm {
    float: right;
  } */

#filterDiv {
  float: left;
  z-index: 2000;
  position: absolute;
  left: 3%;
  background-color: #f9fbfaa8;
  padding: 15px;
  border-radius: 20px;
}

#state-picker {
  margin-right: 10px;
  background-color: #0000000f;
  font-family: monospace;
}

#target-layer {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #0000000f;
  font-family: monospace;
}

#multiselect {
  width: 200px;
  display: inline-block;
}

#subcategory {
  background-color: #0000000f;
  font-family: monospace;
}

#updateMap {
  font-family: monospace;
  background-color: #eae9e4;
  border-radius: 10px;
  border-color: antiquewhite;
  position: relative;
}

#subheader {
  color: whitesmoke;
  display: inline-block;
}


#btnTable {
  position: absolute;
  top: 40px;
  right: 20px;
  /* color: white; */
  background-color: yellow;
}

#tableSidenav {
  height: 0;
  width: 100%;
  position: fixed;
  /* The z-index of sidebar is set to 2000 */
  z-index: 2001;
  bottom: 0;
  left: 0;
  background-color: #f9fbfaa1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-left: 0px;
  border-style: solid;
  border-top-color: #31708f5c;
  border-top-width: thin;
}

#tableSidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  /* display: block; */
  transition: 0.3s;
}

#tableSidenav a:hover {
  color: #f1f1f1;
}

.highlight-header {
  text-align: center;
}

.highlight-td {
  padding: 2px;
  text-align: right;
}