html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
  overflow: hidden;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.map {
  height: 95.5%;
  width: 100%;
}

.map-header {
  height: 4.5%;
  min-height: 45px;
  width: 100%;
  background-color: #123f5a;
  /* vertical-align:middle */
  line-height: 25px;
  /* align-items: center; */
}

#header {
  margin-top: 0px;
  color: white;
  word-spacing: 3px;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}

.layer-switcher {
  position: initial;
}

/* .ol-popup-content {
    color: black;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	padding: 10px;
	position: relative;
} */

.tab-content {
  padding: 10px;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

#legend {
  position: absolute;
  z-index: 100000;
}

#cisa-logo {
  width: 200px;
}

#sercc-logo {
  width: 120px;
}

/* .layer-switcher.shown.layer-switcher-activation-mode-click {
  padding-right: 34px;
}

.layer-switcher.shown.layer-switcher-activation-mode-click>button {
  right: 0;
  border-left: 0;
} */

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

.ui-icon, .ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png);
}

.ui-icon {
  width: 50px;
  height: 50px;
}

/* .ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
} */